.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  /* max-width: 96rem; */
  margin: auto;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: relative;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 27%;
  padding: 10px;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--bg-color);
  /* background-color: #f0f0f0; Optional for visual distinction */
}

.middle-panel {
  width: 46%;
  padding: 10px;
  /* background-color: #e0e0e0; Optional for visual distinction */
}

.right-panel {
  width: 27%;
  height: 1%;
  padding: 10px;
  /* background-color: #d0d0d0; Optional for visual distinction */
}
/*changes the top left and right panels*/
.panel {
  background-color: var(--panel-bg-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
}
/*changes the bottom left panels*/
.data-stream-panel {
  padding: 10px;
  display: fixed;
  width: 100%;
  height: 100px;
  margin: 0px 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;  
  box-shadow: 0 4px 6px var(--box-shadow-color);
  background-color: var(--panel-bg-color);
  transition: background-color 0.3s ease; /* Smooth transition for color changes */
  color: var(--primary-color);
}
/* changes fonts of all bottom left main panel text */
.data-stream-name {
  font-size: 20px;
  display: fixed;
  color: var(--primary-color);
  /* margin-bottom: 5px; */
}

/* changes lower fonts of the texts in panels affect by above thing*/
.data-stream-value {
  font-size: 24px;
  display: fixed;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--bg-color);
  margin-top: -20px;
}

/*changes "Controls"*/
.panel-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.webcam-container {
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #000000;
  color: #ffffff;
  font-size: 72px;
  border-radius: 8px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  padding: 4px;
}

.command-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 16px;
  
}
/*changes text under "Controls" box*/
.command-button-record{
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 8px;
  position: fixed;
  width: 120px;
  height: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);

}
.command-button-record:hover {
  transform: scale(1.05);
  background-color: var(--neutral-color-hover);
  color: var(--primary-color);
}
.command-button-record.active {
  background-color: var(--accent-color1);
  color: var(--primary-color);
}
.command-button-run{
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 8px;
  position: fixed;
  width: 120px;
  height: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);

}
.command-button-run:hover {
  transform: scale(1.05);
  background-color: var(--neutral-color-hover);
  color: var(--primary-color);
}
.command-button-run.active {
  background-color: var(--accent-color2);
  color: var(--primary-color);
}

.command-button-reset{
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 8px;
  position: fixed;
  width: 120px;
  height: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);

}
.command-button-reset:hover {
  transform: scale(1.05);
  background-color: var(--neutral-color-hover);
  color: var(--primary-color);
}

.command-button-reset.active {
  background-color: var(--accent-color3);
  color: var(--primary-color);
}


.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.chart-space {
  text-align: center;
  padding: 10px;
  font-variant-numeric: tabular-nums;
}

.gamepad-status {
  text-align: center;
  color: var(--primary-color);
}
.gamepad-data {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap; /* Allows wrapping of long lines */
  word-wrap: break-word; /* Breaks long words */
  color: var(--primary-color);
}

.panel {
  padding: 12px; /* slightly smaller panel padding */
}

.gamepad-status {
  margin: 0 0 6px 0; /* remove large top/bottom margins */
  font-size: 0.95rem;
}

/* changes "Controls" panel*/
.drive-panel-grid {
  display: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Optional spacing between columns */
  
}

.drive-buttons-column {
  display: fixed;
  flex-direction: column;
  width: 50%; /* Adjust as needed */
  
}

.estop-buttons-column {
  display: fixed;
  flex-direction: column;
  width: 50%; /* Adjust as needed */
  
}

.actuator-data-display {
  display: fixed;
  flex-direction: column;
}

.actuator-section{
  margin-bottom: 20px;
}

.actuator-section h3{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

.actuator-data {
  display: flex;
}

.actuator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-right: 10px;

}

.actuator-button-dig:hover, 
.actuator-button-dig2:hover{
  transform: scale(1.1);
  background-color: var(--accent-color1-hover);
  color: var(--primary-color);
}
.actuator-button-dump:hover,
.actuator-button-mid:hover{
  transform: scale(1.1);
  background-color: var(--accent-color2-hover);
  color: var(--primary-color);
}
.actuator-button-stop:hover,
.actuator-button-top:hover {
  transform: scale(1.1);
  background-color: var(--accent-color3-hover);
  color: var(--primary-color);
}


.actuator-button-dig{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--accent-color3);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color1);
}

.actuator-button-dump{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--accent-color1);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color2);
}

.actuator-button-stop{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color3);
}

.actuator-button-dig2{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color1);
}

.actuator-button-mid{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color2);
}

.actuator-button-top{
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--accent-color3);
}

.panel-title {
  font-size: 1.25rem; /* slightly larger font size */
  font-weight: 700;   /* bolder font weight */
  margin-bottom: 12px; /* increased margin for better spacing */
  color: var(--primary-color);
  background-color: var(--bg-color);
}
.drive-panel-grid {
  gap: 24px; /* increased gap for better spacing */
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 32px);
}

.command-button-sstop{
  width: 150px;
  height: 120px;
  padding: 12px;
  background-color: var(--accent-color1);
  color: var(--primary-color);
  border-radius: 8px;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
}
.command-button-sstop:hover{
  transform: scale(1.05);
  background-color: var(--accent-color1-hover);
  color: var(--primary-color);
}
.command-button-digauto{
  width: 150px;
  height: 120px;
  padding: 12px;
  background-color: var(--accent-color2);
  color: var(--primary-color);
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);

}
.command-button-digauto:hover{
  transform: scale(1.05);
  background-color: var(--accent-color2-hover);
  color: var(--primary-color);
}
.command-button-dumpauto{
  width: 150px;
  height: 120px;
  padding: 12px;
  font-size: 1.2rem;
  background-color: var(--accent-color3);
  color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  border: 1px solid var(--border-color);
}
.command-button-dumpauto:hover{
  transform: scale(1.05);
  background-color: var(--accent-color3-hover);
  color: var(--primary-color);
}

/* 
TODO: Change right and bottom values to offset timer in the right and bottom screen
*/
.timer-overlay {
  position: absolute;         /* was fixed */
  right: 30%;                 /* aligns with camera edge */
  top: 50%;                   /* vertical center */
  transform: translateY(-50%);

  background-color: var(--bg-color);
  padding: 8px 10px;          /* thinner */
  border-radius: 8px;
  border: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 140px;           /* thinner width */
  z-index: 50;

  box-shadow: 0 4px 6px var(--box-shadow-color);

}
.timer-display {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 8px;
  font-family: monospace; /* Critical for keeping numbers aligned */
  cursor: grab;
  background-color: var(--bg-color);
}

.timer-button-start {
  background-color: var(--bg-color);
  color: var(--primary-color); 
  border: none;
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  margin: 2px 0;
}

.timer-button-reset {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  margin: 2px 0;
}

.theme-changer {
  position: fixed;
  bottom: 8px;
  left: 35px;
  background-color: var(--panel-bg-color);
  color: var(--primary-color);
  padding: 0px 0px;
  border-radius: 6px;
  width: auto;
  height: auto;
}
.hb {
  font-family: system-ui, sans-serif;
}


.hb__top {
  display: fixed;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 6px;
  opacity: 0.9;
}


.hb__track {
  position: relative;
  background: #134341;         /* dark gray */
  border: 2px solid #000;
  border-radius: 6px;
  overflow: hidden;
}


.hb__fill {
  height: 100%;
  width: 0%;

  background-size: 100% 100%;
  background-repeat: no-repeat;


  transition: width 220ms ease-out;
  will-change: width;
}

.meter_fill{

  height: 2;
  
}

